@model List<Person>

<div>
    <h3>Exsisting people</h3>
    <table>
        <thead>
            <tr>
                <th>Person ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>City</th>
            </tr>
        </thead>
        <tbody>
            @{ 
                if (Model != null)
                {
                    foreach (var Person in Model)
                    {
                        <tr>
                            <td>@Person.PersonID</td>
                            <td>@Person.FirstName</td>
                            <td>@Person.LastName</td>
                            <td>@Person.City</td>
                            <td>@Html.ActionLink("Remove", "Remove", "Person", new { id = Person.PersonID })</td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>